<!DOCTYPE html>
<html>
<head>
    <title>Videogames Data</title>
</head>
<body>
    <h1>Videogames Data</h1>
    <p>Bienvenido a la API de Videojuegos. Aquí puedes encontrar información sobre los videojuegos disponibles en nuestra base de datos.</p>
    <h2>Endpoints disponibles:</h2>
    <ul>
        <li><strong>GET /games</strong>: Obtiene una lista de todos los videojuegos. <a href="/games">Ver juegos</a> </li> 
        <li><strong>GET /games/:name</strong>: Obtiene los datos del videojuego en función de su nombre <a href="/games/The Witcher 3: Wild Hunt">The Witcher 3: Wild Hunt</a>  </li>
    </ul>
</body>
</html>