<!DOCTYPE html>
<html>
<head>
    <title>Videogames Data</title>
</head>
<body>
    <h1>Videogames Data</h1>
    <p>Bienvenido a la API de Videojuegos. Aquí puedes encontrar información sobre los videojuegos disponibles en nuestra base de datos.</p>
    <h2>Endpoints disponibles:</h2>
    <ul>
        <li><strong>GET /games</strong>: Obtiene una lista de todos los videojuegos. <a href="/games">Ver juegos</a> </li> 
    </ul>
</body>
</html>